<%- include('../partials/header') %>

<a href="/skills/new">Add Skill</a>

    <h1>Express Skills</h1>
    <ul>
        <% skills.forEach(function(s) { %>
            <li>
                <form action="/skills/<%= s.id %>?_method=DELETE" 
                method="POST"
                class="delete-form"
                >
                    <button type ="submit">X</button>

                </form>
                <a href="/skills/<%= s.id %>">
                <%= s.id %>
                </a>
                <%= s.description %>
                    -
                <%= s.hard ? 'hard' : 'easy' %>
            </li>
            <% }); %>
    </ul>
<%- include('../partials/footer') %>