<%- include('../partials/header') %>

<a href="/skills/new">Add Skill</a>

    <h1>Express Skills</h1>
    <ul>
        <% skills.forEach(function(s) { %>
            <li>
                <a href="/skills/<%= s.id %>">
                <%= s.id %>
                </a>
                <%= s.description %>
                    -
                <%= s.hard ? 'hard' : 'easy' %>
            </li>
            <% }); %>
    </ul>

<%- include('../partials/footer') %>