<%- include('../partials/header') %>

    <h3>
        <%= skill.id %>
    </h3>

    <h3>
        <%= skill.description %>
    </h3>

    <h3>
        Hard: <%= skill.hard ? 'Yes' : 'No' %>
    </h3>
    <a href="/skills/<%= skill.id %>/edit">Edit Skill</a>

<%- include('../partials/footer') %>